<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title: 'Editar Producto' }) %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="container products-wrapper">
                    <div class="row">
                        <div class="container products-wrapper">
                            <div class="row">
                                <% products.forEach((product) => { %>
                                <div class="col-12 col-sm-6 col-lg-3 my-5">
                                    <section class="card h-100 shadow ">
                                                            <figure class="product-box_image">
                                                            <img width="80%" class="card-img-top" src="<%= product.imagen %>"
                                                            alt="imagen de producto">
                                                            </figure>
                                                            <article class="position-relative ps-3 ">
                                                            <p class="product-year">
                                                            Año: <%= product.año %>
                                                            </p>
                                                            <p class="product-brand">
                                                            <b>
                                                            <%= product.marca %>
                                                            <%= product.modelo %>
                                                            </b>
                                                            </p>
                                                            <p class="product-price">
                                                            u$d <%= product.precio %>
                                                            </p>
                                                            </article>
                                                        </section>
                                </div>
                            <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="container d-flex justify-content-end">
                        <a href="/admin">Volver a la lista</a>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>