<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title: 'Editar Producto'}) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="bg-white py-5">
            <div class="container row text-center py-3">
        <h1>Editar producto</h1>
    <form method="POST" action="/admin/edit/<%= id %>">
        <label for="year">Año:</label><br>
        <textarea id="year" name="year" required><%= year %></textarea><br><br>

        <label for="make">Marca:</label><br>
        <input type="text" id="make" name="make" value="<%= make %>" required><br><br>

        <label for="model">Modelo:</label><br>
        <textarea id="model" name="model" required><%= model %></textarea><br><br>
   <!--  
        <label for="año">kilometraje:</label><br>
    <textarea id="kilometraje" name="kilometraje" required><%=  %></textarea><br><br>

        <label for="año">transmision:</label><br>
        <textarea id="transmision" name="transmision" required><%=  %></textarea><br><br> -->

        <label for="price">Precio:</label><br>
        <textarea id="price" name="price" required><%= price %></textarea><br><br>

        <button type="submit">Guardar Cambios</button>
    </form>
    
</div>
<div class="container d-flex justify-content-end">
<a href="/admin">Volver a la lista</a>
</div>
</section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>