<!DOCTYPE html>
<html lang="es">

<%-include(".. /partials/head.ejs", {title: 'Administraci칩n' })%>

    <%-include(".. /partials/headerAdmin.ejs")%>

        <main>
            <section class="bg-white py-5">
                <div class="row text-center py-3">
                    <h1>Administraci칩n de Productos</h1>
                </div>
                <% products.forEach(product=> { %>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-4 mb-4">
                                <div class="card h-100 shadow">
                                    <img src="<%= product.imagen %>" class="card-img-top"
                                        alt="<%= product.marca %> <%= product.modelo %>">
                                    <div class="card-body">
                                        <p class="product-year">
                                            A침o: <%= product.a침o %>
                                        </p>
                                        <p class="product-brand">
                                            <b>
                                                <%= product.marca %>
                                                    <%= product.modelo %>
                                            </b>
                                        </p>
                                        <p class="product-price">
                                            u$d <%= product.precio %>
                                        </p>
                                        <div class="product-actions">
                                            <a href="/admin/edit/<%= product.id %>" class="edit-button">Editar</a>
                                            <a href="/admin/delete/<%= product.id %>" class="delete-button">Eliminar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                        </div>
                        <div class="container d-flex justify-content-end">
                            <button class="btn btn-primary btn-block mb-3" onclick="location.href='/admin/add'">Agregar
                                Nuevo Producto</button>
                        </div>

            </section>
        </main>

        <%-include(".. /partials/footer.ejs")%>

</html>